#setCompInfo .right-side{
    float: right;
    width: 200px;
}

#setCompInfo .right-side .thumbnail{
    margin: 0 10px 20px 10px;
    border:none;
}

#setCompInfo .right-side .thumbnail .caption{
    padding: 10px 0;
    border:none;
}
