#pid .table>thead>tr>th.field-auto{width: auto;}
/*#pid .table>thead>tr>th.field-check{width: 22px; text-align: center;}*/
#pid .table>thead>tr>th.field-img{width: 80px; text-align: center;}
#pid .table>thead>tr>th.field-code{width: 100px;}
#pid .table>thead>tr>th.field-name{width: 280px;}
#pid .table>thead>tr>th.field-unit{width: 110px;}

#pid .table>tbody>tr>td{cursor: pointer;}
/*#pid .table>tbody>tr>th.field-check{text-align: center;}*/
#pid .table>tbody>tr>td.field-img{text-align: center; vertical-align: middle; padding-top: 3px; padding-bottom: 3px;}
#pid .table>tbody>tr>td.field-img>img{max-width: 32px; max-height: 32px;}
