#productSpecModal .modal-dialog{width: 800px;}
#productSpecModal .modal-dialog .modal-header{border-bottom: none;}
#productSpecModal .modal-dialog .modal-footer{border-top: none;}
#productSpecModal .modal-dialog .modal-body{padding: 0 15px;}

#productSpecModal .right-side .thumbnail{margin: 0 10px 20px 10px; border:none; background-color: transparent;}
#productSpecModal .right-side .thumbnail .caption{padding: 10px 0; border:none;}
