#productSpecsInfo .table>thead>tr>th.field-auto{width: auto;}
/*#productSpecsInfo .table>thead>tr>th.field-check{width: 20px; text-align: center;}*/
#productSpecsInfo .table>thead>tr>th.field-img{width: 80px; text-align: center;}
#productSpecsInfo .table>thead>tr>th.field-code{width: 100px;}
#productSpecsInfo .table>thead>tr>th.field-name{width: 200px;}
#productSpecsInfo .table>thead>tr>th.field-unit{width: 100px;}

#productSpecsInfo .table>tbody>tr>td{cursor: pointer;}
/*#productSpecsInfo .table>tbody>tr>th.field-check{text-align: center;}*/
#productSpecsInfo .table>tbody>tr>td.field-img{text-align: center; vertical-align: middle; padding-top: 3px; padding-bottom: 3px;}
#productSpecsInfo .table>tbody>tr>td.field-img>img{max-width: 32px; max-height: 32px; }
