#pid .modal-dialog{width: 900px;}
#pid .modal-dialog .modal-header{border-bottom: none;}
#pid .modal-dialog .modal-footer{border-top: none;}
#pid .modal-dialog .modal-body{padding: 0 15px;}

#pid .right-side{position:absolute; right:0; text-align: center;}
#pid .right-side .thumbnail{max-width: 166px; margin: 0 10px 20px 10px; border:none; background-color: transparent;}
#pid .right-side .thumbnail img{max-height: 142px;}
#pid .right-side .thumbnail .caption{padding: 10px 0; border:none;}
#pid .form-group.spec-desc{min-height:100px;}
#pid .form-group.spec-desc textarea{min-height:108px;}
