/*#product main{padding-right: 0px;}*/
#product aside{padding-left: 0px;}
#product .product-list thead>tr>th{background-color: #eee; text-align: left;}
#product .product-list thead>tr>th.field-auto{width: auto;}
#product .product-list thead>tr>th.field-toggle{width: 22px; text-align: center;}
#product .product-list thead>tr>th.field-check{width: 20px; text-align: center;}
#product .product-list thead>tr>th.field-img{width: 50px; text-align: center;}
#product .product-list thead>tr>th.field-code{width: 100px;}
#product .product-list thead>tr>th.field-name{width: 200px;}
#product .product-list thead>tr>th.field-unit{width: 100px;}
#product .product-list thead>tr>th.field-num{width: 100px; text-align: right;}
#product .product-list thead>tr>th.field-size{width: 160px;}
#product .product-list thead>tr>th.field-weight{width: 120px;}
#product .product-item tr>td{cursor: pointer;}
#product .product-item tr>th.field-check{text-align: center;}
#product .product-item tr>th.field-img{text-align: center; vertical-align: middle; padding-top: 3px; padding-bottom: 3px;}
#product .product-item tr>td.field-num{text-align: right;}

#product .product-item tr.product-item-basic>th,
#product .product-item tr.product-item-basic>td{background-color: #eff4fa; font-size:16px;}
#product .product-item tr.product-item-spec>th.col-fixed,
#product .product-item tr.product-item-spec>td.col-fixed{background-color: #eff4fa;}

#product .product-item-basic .field-img>a>img{max-width: 32px; max-height: 32px; }
#product .product-item-spec  .field-img>a>img{max-width: 26px; max-height: 26px; }

#product .checked-bar .check-allpages.be-checked .on-checked-hide{display: none;}
#product .checked-bar .check-allpages.be-checked .on-checked-show{display: inline;}

#product .ctree .ctree-head>a{background-color: #fff; }
#product .ctree .ctree-head.open>a{background-color: #eee; }

#product .toggle-category{padding: 5px;}
#product .toggle-category .icon-bar{display: block; width: 24px; height: 4px; border-radius: 1px; background-color: #4e5f6f;}
#product .toggle-category .icon-bar + .icon-bar {margin-top: 4px;}
