@charset "utf-8";

/*
* Tiedoo Customized page&panel styles for bootstrap
*/

.panel-heading>.panel-title{font-size:20px;}
.panel-heading>.panel-title>.panel-title-main{min-width:200px; color:#fff; background-color:#20ADDD; padding:5px 15px; border-radius:4px;}
.panel-heading>.panel-title>.panel-title-sub{font-size:13px; font-weight:lighter;}
.panel-heading>.panel-title>.panel-title-sub>label{font-weight:normal;}
