@charset "utf-8";

/*
* Tiedoo Customized form styles for bootstrap
*/
.on-reading .for-editonly, .on-editing .for-readonly{display: none;}
.on-reading .control-label.for-editonly[data-checked="true"]{display:inline-block;}
.form-control:not([type=search]):not([type=button]),
.input-group-addon {border: none; border-bottom: 1px solid #ccc; border-radius: 0; box-shadow: none; background-color: transparent;}
.input-group>.input-group-addon{padding-bottom: 4px;}
.input-group-addon.after-input{padding-left: 1px;}
.input-group-addon.before-input{padding-right: 1px;}
.table.editable .input-group>.input-group-addon,
.table.editable .input-group>.form-control,
.table.editable .form-control{padding:0; border: none; height:auto; text-align: inherit;}

/*typeahead*/
.on-reading .twitter-typeahead{display: none;}
/*.on-editing .twitter-typeahead{display: inline-block;}*/
.on-editing .input-group .twitter-typeahead{display: table-cell;}
.twitter-typeahead .tt-hint {color: #999;}
.twitter-typeahead .tt-menu {min-width: 100px; max-width: 640px; max-height:480px; border:1px solid #999; background-color:#fff; overflow:auto;}
.twitter-typeahead .tt-suggestion {padding: 5px 10px; white-space: nowrap; overflow: hidden; border-top: 1px solid #ccc;}
.twitter-typeahead .tt-suggestion table {table-layout: fixed; width: 100%;}
.twitter-typeahead .tt-suggestion table td {overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.twitter-typeahead .tt-suggestion.active,
.twitter-typeahead .tt-suggestion:hover {cursor: pointer; color: #337ab7; background-color: #eee;}
.twitter-typeahead .tt-suggestion.tt-cursor {color: #fff;  background-color: #337ab7;}
.twitter-typeahead .tt-suggestion p {margin: 0;}

.bg-fieldset{background-color: #D3EBF7;}
fieldset.bg-fieldset{padding: 10px 20px 10px 0;}
/*fieldset.bg-fieldset .form-control,
fieldset.bg-fieldset .input-group-addon{background-color: transparent;}*/


.label{font-size:85%; font-weight:500;}
.label-default{color:#333; background-color:#fff; border:1px solid #ccc;}
.label-primary{color:#fff; background-color:#337ab7; border:1px solid #2e6da4;}
p .label, span .label{margin-left: 3px;}

/*.form-control::-moz-placeholder,.form-control:-ms-input-placeholder,*/
.form-control::-webkit-input-placeholder{color: #ddd;}

/*.form-control:focus {border: none; border-bottom: 1px solid #66afe9; border-radius: 0; box-shadow: none;}*/
.form-horizontal fieldset {margin: 10px 0;}
.form-horizontal fieldset>legend {font-size: 15px; margin: 0 0 10px 0;}
.form-horizontal fieldset fieldset {margin: 10px 20px;}
.form-horizontal fieldset fieldset>legend {font-size: 14px;}
.form-horizontal .form-group.form-group-sm {margin-bottom: 8px;}
.form-horizontal .form-group.form-group-sm .control-label {padding-top: 5px; padding-left: 0; padding-right: 0; font-size: 13px; font-weight: normal; text-align: right; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.form-horizontal .form-group.form-group-sm .control-label.for-editonly {padding-left: 15px; padding-right: 15px; text-align: left;}

/* .form-horizontal .form-group.form-group-sm .control-label.for-editonly>input{margin:0;} */
.form-horizontal .form-group.form-group-sm .form-control {font-size: 13px; height: auto;}
.form-horizontal .form-group.form-group-sm .form-control-static {padding-bottom: 0px; font-size: 13px; min-height: 18px; height: auto;}
.form-horizontal .form-control-static.for-readonly pre {margin-bottom: 0; padding: 0; border: none; background-color: inherit; font-family: inherit;}
