@charset "utf-8";
.navbar{margin-bottom:0;}
.navbar .navbar-brand{padding:0px 15px 0 15px; min-width:60px; height:50px; display:table; text-align:center; vertical-align:middle;}
.navbar .navbar-brand>a{display:table-cell; vertical-align: middle;}
.navbar .navbar-brand>a>img{max-width:150px; max-height:50px;}
.navbar .h1, .navbar h1{margin-top: 5px; margin-bottom: auto;}
.navbar .h2, .navbar h2{margin-top: 8px; margin-bottom: auto;}
.navbar .h3, .navbar h3{margin-top:10px; margin-bottom: auto;}
@media (max-width: 768px){
	.navbar-form{margin-top:0; margin-bottom:0;}
}

a.toggle, a.toggle:hover, a.toggle:focus{text-decoration:none;};

.nav.nav-tabs{border-bottom:2px solid #337ab7;}
.nav.nav-tabs>li.active>a{color:#fff; cursor: pointer; background-color:#337ab7; border-color:#337ab7;}
.nav.nav-tabs>li>.remover{position:absolute; top:1px; right:5px; color:#eee; display:none;}
.nav.nav-tabs>li:hover>.remover{display:inline-block;}
.nav.nav-tabs.tab-small{font-size:13px;}
.nav.nav-tabs.tab-small>li>a{padding:5px 8px;}
.nav.nav-tabs.tab-small .control-label{font-weight:normal;}

/** main navbar */
.main.navbar .navbar-header{font-size:16px;}
.main.navbar .navbar-collapse{font-size:12px;}
.main.navbar .navbar-brand{height:60px;}
.main.navbar .navbar-brand>a>img{max-height:60px;}
.main.navbar .navbar-toggle{margin-top:13px; margin-bottom:13px;}
.main.navbar .navbar-nav{margin:0; position: relative;}
.main.navbar .navbar-nav>li{float:left;}
.main.navbar .navbar-nav>li>a{padding-top:15px; padding-bottom:15px; line-height:30px;}
.main.navbar .navbar-nav>li>a:hover{color:#0055A2;}
.main.navbar .navbar-nav>li.active>a{font-weight:bold; color:#0055A2; background-color:#eff4fa;}
.main.navbar .navbar-nav .badge{background-color:#a94442}
