#pid .table>thead>tr>th{background-color: #eee; text-align: left;}
#pid .table>thead>tr>th.field-toggler{width: 25px;}
#pid .table>thead>tr>th.field-code{width: 150px;}
#pid .table>thead>tr>th.field-name{width: 300px;}
#pid .table>thead>tr>th.field-auto{width: auto;}
#pid .table>thead>tr>th.field-btns{width: auto; text-align: right;}

#pid .table>tbody>tr>td{cursor: pointer;}
#pid .table>tbody>tr>th.field-btns{text-align: right;}
