#category .table>thead>tr>th.field-auto{width: auto;}
#category .table>thead>tr>th.field-code{width: 100px;}
#category .table>thead>tr>th.field-name{width: 200px;}
#category .table>thead>tr>th.field-btns{width: auto; text-align: right;}

#category .table>tbody>tr>td{cursor: pointer;}
#category .table>tbody>tr>th.field-btns{text-align: right;}
