#pid>ul{
    color: #fff;
    text-align: center;
    background-color: #4e5f6f;
}

#pid>ul>li{
    padding: 10px 4px;
}

#pid>ul>li:hover{
    background-color: #000;
}

#pid>ul>li>a{
    color: #fff;
    text-decoration:none;
}

#pid>ul>li>a>.glyphicon{
    color: #52c2e8;
    font-size: 32px;
}

#pid>ul>li>a>.caption{
    font-size: 16px;
}
/*#pid>ul>li>a>img{
    padding: 10px 10px 0px 10px;
}*/
