html {
    /*Perfect Full Page Background Image*/
    background: #eee url(ui/images/starback.jpg) no-repeat center center fixed;
    background-size: cover;
}

#first>.middle-block {
    background-color: #fff;
    padding: 0 10px;
    width: 600px;
}
