html{/*Perfect Full Page Background Image*/
    background: #eee url(ui/images/starback.jpg) no-repeat center center fixed;
    background-size: cover;
}

#pid>.middle-block {width: 300px;}
#pid .form-control:not([type=button]){background-color: #fff}
#pid .form-control::-webkit-input-placeholder{color: #999;}
#pid .text-static{color: #fff;}
